<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwangjr.xposed.mods.phonedebug">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Phone Debugger! (ro.debuggable or android:debuggable)" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>
